<div id="wrapper">
    <div id="left">
        <div class="container">
            <h1>Items</h1>
            <ul>
                <li *ngFor="let items of nodes">
                    {{items.label}}
                    <ul>
                        <li *ngFor="let item of items.children">
                            <a [href]="item.data.href" [routerLink]="item.data.routerLink">{{item.label}}</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
    <div id="right">
        <div class="container">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>

