
<h3>CONCRETE SLAB</h3>
<p>Input the following:</p>
<div>
    <form [formGroup]="cForm" (ngSubmit)="onSubmit()" #f="ngForm" novalidate>
        <div class="form-group my-2">
            <label>Thickness (meter)</label>
            <input class="form-control" 
                formControlName="thickness" 
                type="number"
                size="20"
                placeholder="0">
            
        </div>
        <div class="form-group my-2">
            <label>Width (meter)</label>
            <input class="form-control" 
                formControlName="width" 
                type="number" 
                placeholder="0">
        </div>
        <div class="form-group my-2">
            <label>Length (meter)</label>
            <input class="form-control" 
                formControlName="length" 
                type="number" 
                placeholder="0">
        </div>
        <div class="form-group my-2">
            <label>Proportion Class</label>
            <select formControlName="proportionClass" class="form-control">
                <option value="" disabled>Select</option>
                <option *ngFor="let pclass of concretePropClasses" [ngValue]="pclass">{{pclass}}</option>
            </select>
        </div>
        <div class="form-group my-2">
            <label>Cement Bag</label>
            <label class="px-2">
                <input type="radio" value="40" formControlName="cementBag">
                <span>40 kg</span>
            </label>
            <label class="px-2">
                <input type="radio" value="50" formControlName="cementBag">
                <span>50 kg</span>
            </label>
        </div>
        <div class="form-group my-4">
            <button class="btn btn-primary mx-2" type="submit" [disabled]="cForm.invalid">Submit</button>
            <button class="btn btn-primary mx-2" (click)="reset()">Reset</button>
        </div>
    </form>

    <div>
        <h4>AGGREGATES</h4>
        <p>Cement: {{aggregates.cement}} bags</p>
        <p>Sand: {{aggregates.sand}} cu. m.</p>
        <p>Gravel: {{aggregates.gravel}} cu. m.</p>
    </div>

</div>